@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap&subset=cyrillic-ext");

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}

.header__list li {
  list-style: none;
}

.header__list li:first-child {
  margin: 0px 50px 22px 0px;
}

.header__link {
  font: normal 600 18px/21px "raleway";
  color: #232323;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
}

.header:before {
  background: #fff;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.header .container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header .header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3;
}

.header .header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 291px;
  flex: 0 1 291px;
  position: relative;
  z-index: 2;
}

.header .header__logo img {
  max-width: 100%;
  display: block;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__logo img {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 291px;
  flex: 0 1 291px;
  width: 291px;
  height: 82px;
  margin: 66px 274px 218px 0px;
}

.contacts__menu {
  margin: 86px 122px 178px 275px;
}

.contacts__list li {
  margin: 0px 0px 12px 0px;
}

.contacts__list li a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #232323;
  white-space: nowrap;
}

.contacts__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.contacts__contact {
  margin: 86px 0px 0px 113px;
}

.contact-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #232323;
}

.contact-contacts__title {
  margin: 0px 0px 11px 0px;
}

.contact-contacts__field a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #232323;
}

.contact-contacts__phone {
  margin: 0px 0px 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}

.contact-contacts__phone img {
  margin: 0px 23px 0px 0px;
}

.contact-contacts__mail {
  margin: 0px 0px 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}

.contact-contacts__mail img {
  margin: 0px 23px 0px 0px;
}

.contact-contacts__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}

.contact-contacts__adress img {
  margin: 0px 23px 0px 0px;
}

@font-face {
  font-family: "lato-medium";
  font-style: "normal";
  font-weight: "400";
  src: url("../font/lato-medium.eot?") format("eot"), url("../font/lato-medium.woff2") format("woff2"), url("../font/lato-medium.woff") format("woff"), url("../font/lato-medium.ttf") format("truetype"), url("../font/lato-medium.svg#lato-medium") format("svg");
}

@font-face {
  font-family: "raleway";
  font-style: "normal";
  font-weight: "400";
  src: url("../font/raleway.eot?") format("eot"), url("../font/raleway.woff2") format("woff2"), url("../font/raleway.woff") format("woff"), url("../font/raleway.ttf") format("truetype"), url("../font/raleway.svg#raleway") format("svg");
}

.footer {
  background: #006565;
  height: 66px;
  position: absolute;
}

.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.footer__copy {
  margin: 24px 294px 26px 0px;
}

.footer__license {
  margin: 24px 0px 26px 294px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}

.header__list li {
  list-style: none;
}

.header__list li:first-child {
  margin: 0px 50px 22px 0px;
}

.header__link {
  font: normal 600 18px/21px "raleway";
  color: #232323;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
}

.header:before {
  background: #fff;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.header .container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header .header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3;
}

.header .header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 291px;
  flex: 0 1 291px;
  position: relative;
  z-index: 2;
}

.header .header__logo img {
  max-width: 100%;
  display: block;
}

.header__container {
  height: 241px;
}

.header__logo {
  margin: 42px 152px 19px 0px;
}

.header__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 42px 193px 23px 0px;
}

.header__callback p span {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #c4c4c4;
}

.header__phone {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #232323;
}

.header__zayavka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 22px 56px;
  width: 265px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 265px;
  flex: 0 1 265px;
  height: 62px;
  background: #006565;
  margin: 52px 0px 29px 194px;
}

.header__zayavka span {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.header__zayavka.zayavka-slider {
  margin: 88px 0px 43px 0px;
}

.header__zayavka.slider-3 {
  margin: 137px 0px 43px 0px;
}

.header__callback-m {
  display: none;
}

.container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.border-header {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.border-header__left {
  width: 124.9px;
  height: 0px;
  left: 0;
  top: 0;
  border: 4px solid #006565;
}

.border-header__right {
  width: 124.9px;
  height: 0px;
  left: 0;
  top: 0;
  opacity: 0.5;
  border: 4px solid #c4c4c4;
}

.body-header {
  border-bottom: 2px solid #e0f5f3;
  margin: 0px 0px 25px 0px;
}

.border {
  display: none;
}

.main-banner__img {
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-banner__img img {
  max-width: 1920px;
  max-height: 854px;
}

.main-banner__card {
  position: absolute;
  left: 36%;
  bottom: 17%;
  background: #ffffff;
  border-radius: 0px;
  height: 608px;
  width: 960px;
}

.main-banner__side-img img {
  position: absolute;
  width: 425px;
  height: 520px;
  left: 30%;
  bottom: 19%;
  z-index: 2;
}

.main-banner__title {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 125%;
  text-transform: uppercase;
  color: #006565;
  padding: 70px 0px 18px 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-banner__text-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  height: 44px;
  width: 480px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #232323;
  margin: 0px 0px 20px 270px;
}

.main-banner__text-1 p {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.main-banner__text-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-style: normal;
  height: 22px;
  width: 480px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #232323;
  margin: 0px 0px 20px 255px;
}

.main-banner__text-2 p {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.main-banner__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 35px 270px;
}

.main-banner__checkbox input {
  margin: 5px 0px 0px 0px;
  width: 15px;
  height: 15px;
  opacity: 0.8;
  border: 2px solid #c4c4c4;
}

.main-banner__checkbox-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 273px;
  height: 33px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: #232323;
}

.main-banner__checkbox-text a {
  font-style: normal;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: #232323;
}

.main-banner__checkbox-text span {
  text-decoration: underline;
}

.main-banner__inputs input {
  width: 458px;
  height: 62px;
  background: #f8f8f8;
  display: block;
  margin: 0px 0px 20px 270px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #c4c4c4;
  padding: 21px 0px 19px 19px;
}

.zayavka-main-banner {
  margin: 52px 0 29px 270px;
}

.page__slider {
  overflow: hidden;
}

.main-slider {
  position: relative;
}

.main-slider.swiper-container {
  overflow: hidden;
  width: 100%;
}

.main-slider .swiper-wrapper {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.main-slider__body {
  height: 687px;
  width: 1922px;
}

.main-slider__control {
  position: absolute;
  left: 30.8%;
  width: 100px;
  height: 100px;
  bottom: 60px;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
}

.item-main-slider {
  text-align: center;
  padding: 30px 0px 100px 0px;
  position: relative;
}

.item-main-slider__content {
  position: relative;
  z-index: 2;
}

.item-main-slider__container .title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 140px 0px 32px 0px;
  align-items: center;
  text-align: left;
}

.item-main-slider__container .title.slider-3 {
  color: #232323;
  margin: 220px 0px 15px 0px;
}

.item-main-slider__bg {
  position: absolute;
  top: 0;
  left: 21%;
}

.item-main-slider__bg img {
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.item-main-slider__text {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 0px 18px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 135%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.item-main-slider__text.slider-3 {
  color: #232323;
}

.item-main-slider__text-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-main-slider__text-bottom.slider-3 {
  display: none;
}

.item-main-slider__btn {
  margin: 55px 0px 0px 0px;
}

.control-main-slider__arrow {
  position: relative;
  z-index: 2;
  background: url("../img/main-slider/prev.png");
  width: 27px;
  height: 16px;
  cursor: pointer;
}

.control-main-slider__next {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  margin: 0px 0px 0px 35px;
}

.mainslider__dotts {
  margin: -27.5px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  counter-reset: item;
}

.mainslider__dotts .swiper-pagination-bullet:only-child {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.mainslider__dotts .swiper-pagination-bullet {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  overflow: hidden;
  bottom: 30px;
  left: 17.5%;
  opacity: 0.2;
}

.mainslider__dotts .swiper-pagination-bullet:after {
  background: rgba(0, 0, 0, 0);
  content: "";
  font-size: 16px;
  font-weight: 900;
  color: #fffefe;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  counter-increment: item;
  content: counter(item);
  opacity: 1;
}

.mainslider__dotts .swiper-pagination-bullet-active {
  opacity: 1;
  background: transparent;
}

.slider-border {
  width: 1410px;
  height: 0px;
  opacity: 0.4;
  border: 2px solid #ffffff;
  margin: 0px 0px 20px 0px;
}

.content-main__ok {
  margin: 101px 0px 12px 26px;
}

.content-main__ok img {
  opacity: 1 !important;
}

.content-main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content-main__title {
  margin: 77px 0px 50px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #232323;
}

.content-main__card-wrap {
  width: 330px;
  height: 349px;
  background: #f8f8f8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin: 0px 15px 29px 15px;
}

.content-main__card-wrap:first-child {
  margin: 0px 15px 29px 0px;
}

.content-main__card {
  padding: 2px 16px;
}

.content-main__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #232323;
  line-height: 120%;
  letter-spacing: 0.03em;
  margin: 12px 0px 71px 0px;
}

.content-main__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-main__thumb .thumb-3 {
  position: absolute;
  left: 65.78%;
  right: 20.22%;
  top: 20%;
  bottom: 60.82%;
}

.content-main__thumb .thumb-2 {
  position: absolute;
  left: 81.11%;
  right: 10.22%;
  top: 10.49%;
  bottom: 75%;
}

.content-main__thumb .thumb-1 {
  position: absolute;
  left: 77.33%;
  right: 17.78%;
  top: 2.25%;
  bottom: 86.6%;
}

.wrap-mobile img {
  margin: 15px 0px 0px 0px;
}

.wrap-bottom {
  margin: 0px 26% 0px 0px;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  border: 1px solid #e6e9f0;
  -webkit-box-shadow: 26.0526px 39.0789px 104.211px rgba(145, 145, 145, 0.15);
  box-shadow: 26.0526px 39.0789px 104.211px rgba(145, 145, 145, 0.15);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background: rgba(0, 0, 0, 0.5);
  z-index: 80;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background: #ffffff;
  color: #000;
  width: 415px;
  height: 248px;
  position: relative;
}

.popup__close img {
  float: right;
  margin: 30px 30px 0px 0px;
  width: 18px;
  height: 18px;
}

.popup__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 50px 0px 20px 0px;
}

.popup__thx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #006565;
  margin: 0px 0px 10px 0px;
}

.popup__accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #000000;
}

html,
body {
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

._container {
  max-width: 1408px;
  margin: 0 auto;
}

.page {
  z-index: 3;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.footer {
  position: relative;
  z-index: 52;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@supports (-webkit-appearance:none) {
  .control-main-slider__arrow {
    background: url("../img/main-slider/prev.webp");
  }
}

@media (min-width: 1192px) {
  .content-main__card-wrap:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    width: 450px;
    height: 388px;
    background-color: rgba(0, 167, 151, 0.3);
  }

  .content-main__card-wrap img {
    opacity: 0;
  }

  .content-main__card-wrap:hover img {
    opacity: 1;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1130px) {
  .header__zayavka {
    margin: 52px 0px 29px 94px;
    width: 165px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 165px;
    flex: 0 1 165px;
    white-space: nowrap;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 991.98px) {
  .header__logo {
    margin: 20px 77px 19px 0px;
    width: 128px;
    height: 33px;
  }

  .header__callback {
    margin: 42px 96.5px 23px 0px;
  }

  .header__callback p span {
    font-size: 8px;
  }

  .header__phone {
    font-size: 15px;
    white-space: nowrap;
  }

  ._container {
    max-width: 750px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 72px;
  }

  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger.active::before {
    content: "";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
    height: 4px;
  }

  .header__burger.active::after {
    content: "";
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
    height: 4px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .header__burger::before {
    top: 0;
    content: "";
    background-color: #006565;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::after {
    bottom: 0;
    content: "";
    background-color: #006565;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger span {
    position: absolute;
    background-color: #006565;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0%;
    width: 211px;
    height: 174px;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    z-index: 2;
    padding: 60px 0px 0px 0px;
  }

  .header__menu.active {
    position: absolute;
    left: 36%;
    top: 0px;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .header__link {
    font-size: 16px;
  }

  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 72px;
  }

  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger.active::before {
    content: "";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
    height: 4px;
  }

  .header__burger.active::after {
    content: "";
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
    height: 4px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .header__burger::before {
    top: 0;
    content: "";
    background-color: #006565;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::after {
    bottom: 0;
    content: "";
    background-color: #006565;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger span {
    position: absolute;
    background-color: #006565;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0%;
    width: 211px;
    height: 174px;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    z-index: 2;
    padding: 60px 0px 0px 0px;
  }

  .header__menu.active {
    position: absolute;
    left: 36%;
    top: 0px;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .header__link {
    font-size: 16px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 767.98px) {
  .contacts {
    display: block;
  }

  .contacts__logo img {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 128px;
    flex: 0 1 128px;
    width: 128px;
    height: 33px;
    margin: 50px 0px 35px 0px;
  }

  .contacts__menu {
    margin: 0px 0px 35px 0px;
  }

  .contacts__list li a {
    font-size: 14px;
  }

  .contacts__contact {
    margin: 0px 0px 40px 0px;
  }

  .contact-contacts {
    font-size: 14px;
  }

  .contact-contacts__title {
    display: none;
  }

  .contact-contacts__field a {
    font-size: 14px;
  }

  .footer_container {
    display: block;
  }

  .footer__copy {
    margin: 0px 0px 18px 140px;
  }

  .footer__license {
    margin: 14px 0px 14px 99px;
  }

  .header__container {
    height: 72px;
  }

  .header__callback {
    display: none;
  }

  .header__zayavka {
    display: none;
  }

  .header__zayavka.zayavka-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 190px 0px 0px 69px;
  }

  .header__zayavka.zayavka-slider span {
    font-size: 14px;
  }

  .header__callback-m {
    display: block;
    margin: 20px 18px 20px 0px;
  }

  .header__burger {
    margin: 24px 18px 24px 0px;
  }

  .border-header {
    display: none;
  }

  .body-header {
    border-bottom: none;
    z-index: 4 !important;
  }

  .border {
    width: 175px;
    height: 0px;
    background: #4c4c4c;
    opacity: 0.8;
    border: 1px solid #c4c4c4;
    display: block;
    margin: 0px 0px 14px 0px;
  }

  .main-banner__img img {
    max-width: 320px;
    height: 496px;
  }

  .main-banner__card {
    height: 417px;
    width: 286px;
    left: 6%;
    bottom: 18%;
  }

  .main-banner__side-img img {
    display: none;
  }

  .main-banner__title {
    padding: 24px 0px 16px 0px;
    font-size: 16px;
  }

  .main-banner__text-1 {
    margin: 0px 0px 16px 0px;
    font-size: 12px;
    height: 38px;
    width: 261px;
  }

  .main-banner__text-2 {
    margin: 0px 0px 16px 0px;
    font-size: 12px;
    height: 38px;
    width: 261px;
  }

  .main-banner__checkbox {
    margin: 0px 0px 30px 0px;
  }

  .main-banner__checkbox-text {
    width: 218px;
    height: 33px;
    font-size: 10px;
  }

  .main-banner__inputs input {
    width: 261px;
    height: 39px;
    margin: 0px 0px 10px 0px;
    font-size: 12px;
    padding: 13px 0px 12px 19px;
  }

  .zayavka-main-banner {
    margin: 0px 59px 45px 59px;
    width: 168px;
    height: 41px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .zayavka-main-banner span {
    font-size: 14px;
  }

  .main-slider .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .main-slider__body {
    width: 460px;
    height: 320px;
  }

  .item-main-slider__container .title {
    font-size: 24px;
    margin: 10px 0px 11px 0px;
  }

  .item-main-slider__bg {
    position: static;
  }

  .item-main-slider__bg img {
    width: 100%;
    height: 100%;
  }

  .item-main-slider__text {
    font-size: 14px;
  }

  .item-main-slider__text-bottom {
    font-size: 12px;
    margin: 0px 0px 0px 50px;
  }

  .control-main-slider {
    display: none;
  }

  .mainslider__dotts {
    margin: 0px 0px 0px 0px;
  }

  .mainslider__dotts .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border: 0.5px solid #006565;
    background: #fff;
    bottom: -20px;
    left: 0;
  }

  .mainslider__dotts .swiper-pagination-bullet:after {
    display: none;
  }

  .mainslider__dotts .swiper-pagination-bullet-active {
    background: #006565;
  }

  .slider-border {
    display: none;
  }

  .content-main__ok {
    margin: 15px 0px 8px 10px;
  }

  .content-main__ok img {
    width: 26px;
    height: 16px;
  }

  .content-main__title {
    font-size: 16px;
    margin: 40px 0px 30px 0px;
  }

  .content-main__card-wrap {
    width: 128px;
    height: 172px;
  }

  .content-main__card {
    padding: 0px 5px;
  }

  .content-main__desc {
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.03em;
    margin: 0px 0px 10px 0px;
    width: 108px;
    height: 117px;
  }

  .content-main__thumb {
    display: none;
  }

  .wrap-bottom {
    margin: 0px 0px 0px 0px;
  }

  ._container {
    max-width: none;
    padding: 0px 10px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 767.98px) and (max-width: 767.98px) {
  .body-header .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 128px;
    flex: 0 1 128px;
  }

@supports (-webkit-appearance:none) {

}
}